@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
 box-sizing: border-box;
 -moz-text-size-adjust: 100%;
 -ms-text-size-adjust: 100%;
 -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html{
  background-color: aliceblue;
}

body{
  margin: 0 auto;
}

h2{
  font-family: arial;
  margin: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5em;
  }

h3{
  font-family: arial;
  margin: 1rem;
  margin-top: 1rem;
  }

h1{
  font-family: arial;
  margin: 0rem;
  text-align: center;
  font-size: 1.5rem;
  display: inline-block;
}

header{
  text-align: center;
  background-color: lightblue;
  padding: 1rem;
  position: relative;
  width: 100%;
}

p{
  font-family: arial;
  margin: 1rem;
}

.nav{
  font-family: arial;
  margin-bottom: 0.2rem;
  padding: 0;
  display: block;
  text-align: center;
  clear: both;
  color: white;
}

nav a {
  color: white;
}

.nav li {
  display: inline-block;
  padding: 0.5rem;
  margin: 0;
  font-size:0.8rem;
  text-align: center;
}

img {
  width: 100%;
}

nav li{
  display: inline-block;
  padding: 0.5em;
}

a:hover {
  color: white;
}

dl {
  font-family: arial;
  margin: 1rem;
  font-size: 0.7rem;
  line-height: 0.2rem;
}

dt{
  font-family: arial;
  margin: 1rem;
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0.1rem;
}

footer{
  font-family: arial;
  font-size: 0.5rem;
  padding: 1em;
  text-align: center;
  line-height: 0.1rem;
}

figure{
margin: 0;
}

figcaption{
  position: relative;
  bottom: 8em;
  color: white;
  text-align: center;
  margin: 0.5em;
}

.sevenwondersimg {
  margin: 1em;
  width:  93%;
  margin-bottom: 0;
}

.logo {
  width: 50px;
  position: relative;
  float: left;
  margin-bottom: 2rem;
  vertical-align: middle;
  display: inline-block;
}

li {
  font-family: arial;
}

ul {
  font-size: 0.8rem;
  padding: 0.5rem;
}

@media only screen and (min-width:21em) {

  .logo {
    display: inline-block;
    vertical-align: middle;
  }

}
@media only screen and (min-width:26em) {

  .nav li {
    display: inline-block;
  }

  h1 {
    text-align: center;
  }

  .logo {
    display: block;
    margin: 0 auto;
  }

}

@media only screen and (min-width:38em) {

 .logo {
   display: block;
   margin: 0 auto;
 }

 footer {
   text-align: left;
   padding-left: 3rem;
   line-height: 0.1rem;
 }

.sevenwonders {
  display: inline-block;
  width: 48%;
}

.atlantis {
  width: 50%;
  margin: 1rem;

}

}

@media only screen and (min-width: 60em) {

  html {
    font-size: 120%;
    line-height: 1.7;
  }

.sevenwonders {
  display: inline-block;
  width: 30%;
}

}

@media print {

a {
  display: none;
}

main a::after {
  content: " (" attr(href) ")";
  color: grey;
}
